<div class="container">
  <div class="wrapper">

    <div class="header">
      <div>
        <app-input
          label="Поиск"
          placeholder="Название блюда"
          width="500px"
        ></app-input>

<!--        select kitchen-->
<!--        select dish-->
      </div>
      <app-button
        text="Создать рецепт"
        size="md"
        color="#91cf6e"
      ></app-button>
    </div>

    <div class="recipes">
      <div *ngFor="let recipe of recipes" class="item">
        <app-recipes-card
          [data]="recipe"
        ></app-recipes-card>
      </div>
    </div>
  </div>
</div>
