<div class="container">
  <div class="wrapper">
    <div class="title">
      <h2>Регистрация</h2>
      <p>Создайте свой аккаунт и исследуйте рецепты!</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="item">
        <app-input
          label="Имя"
          placeholder="Котлета"
          [control]="form.get('firstName')"
        ></app-input>
      </div>

      <div class="item">
        <app-input
          label="Фамилия"
          placeholder="Пюрешкина"
          [control]="form.get('lastName')"
        ></app-input>
      </div>

      <div class="item">
        <app-input
          label="Email"
          placeholder="cake@gmail.com"
          type="email"
          [control]="form.get('email')"
        ></app-input>
      </div>

      <div class="item">
        <app-input
          label="Номер телефона"
          placeholder="+0 (000) 000 00 00"
          [mask]="maskPhoneNumber"
          [control]="form.get('phoneNumber')"
        ></app-input>
      </div>

      <div class="item">
        <app-input
          label="Пароль"
          placeholder="******"
          [iconData]="showPassword ? 'fa-regular fa-eye' : 'fa-regular fa-eye-slash'"
          [type]="showPassword ? 'text' : 'password'"
          iconPosition="after"
          (onClickIcon)="toggleShowPassword()"
          [control]="form.get('password')"
        ></app-input>
      </div>

      <div class="item">
        <app-input
          label="Подтверждение пароля"
          placeholder="******"
          [iconData]="showConfirmPassword ? 'fa-regular fa-eye' : 'fa-regular fa-eye-slash'"
          [type]="showConfirmPassword ? 'text' : 'password'"
          iconPosition="after"
          (onClickIcon)="toggleConfirmShowPassword()"
          [control]="form.get('confirmPassword')"
        ></app-input>
      </div>

      <div class="submit">
        <app-button
          color="#242b44"
          text="Регистрация"
          size="lg"
          width="full"
          [disabled]="form.invalid"
          (onClick)="onSubmit()"
        ></app-button>
      </div>
    </form>

    <div class="registration">
      <p>Уже есть аккаунт?</p>
      <a routerLink="/screens/auth/sign-in">Войти</a>
    </div>

    <div class="or">
      <div class="line"></div>
      <p>или</p>
      <div class="line"></div>
    </div>

    <div class="google">
      <img src="assets/images/icons/google.png" alt="google">
      <h5>Войти с помощью Google</h5>
    </div>

    <div class="agreement">
      <p>
        Регистрируясь для создания учетной записи, я принимаю
        <a [href]="linkConfidentiality" target="_blank">Условия использования и Политику конфиденциальности.</a>
      </p>
    </div>

  </div>
</div>
