.wrapper {
  display: flex;
  align-items: center;

  > img {
    width: 60px;
  }

  .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5px;

    > span {
      font-size: 16px;
      font-weight: 600;
    }

    .first {
      color: #242b44;
    }

    .second {
      color: #97cf6e;
    }
  }
}

