<div
  *ngIf="data"
  class="wrapper"
  [style.background-image]="'url(' + data.preview_url + ')'"
>
  <div class="content">
    <div class="top">
      <div>
        <div class="icon"><i class="fa-regular fa-star"></i></div>
        <span>{{data.rating}}</span>
      </div>

      <div (click)="saveRecipe(data.id)" class="save">
        <div *ngIf="!isSaveRecipe" class="icon"><i class="fa-regular fa-bookmark"></i></div>
        <div *ngIf="isSaveRecipe" class="icon"><i class="fa-solid fa-bookmark"></i></div>
      </div>
    </div>

    <div class="bottom">
      <h4>{{data.title}}</h4>
      <div class="short-info">
        <i class="fa-regular fa-clock"></i>
        <span>{{data.cooking_time_min}} мин</span>
      </div>
    </div>
  </div>
</div>
