<div
  *ngIf="data"
  class="wrapper"
  [style.background-image]="'url(' + data.preview_url + ')'"
>
  <div class="content">
    <div class="top">
      <div class="icon" (click)="saveRecipe(data.id)">
        <i *ngIf="!isSaveRecipe" class="fa-regular fa-star"></i>
        <i *ngIf="isSaveRecipe" class="fa-solid fa-star"></i>
      </div>
      <span>{{data.rating}}</span>
    </div>

    <div class="bottom">
      <h4>{{data.title}}</h4>
      <div class="cooking_time">
        <i class="fa-regular fa-clock"></i>
        <span>{{data.cooking_time_min}} мин</span>
      </div>
    </div>
  </div>
</div>
