<header class="header">
  <div class="container">
    <div class="wrapper">
      <app-logo></app-logo>

      <div class="list">
        <div class="item">
          <a routerLink="/">Главная</a>
        </div>
        <div class="item">
          <a routerLink="/screens/recipes">Рецепты</a>
        </div>
        <div class="item">
          <span (click)="openKitchen()">
            Кухни
            <div class="icon" [ngClass]="{ iconOpen: kitchenIsOpen }"><i class="fa-solid fa-caret-down"></i></div>
          </span>
            <div class="drop-down" *ngIf="kitchenIsOpen">
              <div class="item" *ngFor="let kitchen of kitchenMenu">
                <a [href]="kitchen.route"><i [class]="kitchen.iconData + ' iconList'"></i>{{kitchen.title}}</a>
              </div>
            </div>
        </div>
        <div class="item">
          <span (click)="openDish()">
            Блюда
            <div class="icon" [ngClass]="{ iconOpen: dishIsOpen }"><i class="fa-solid fa-caret-down"></i></div>
          </span>
          <div class="drop-down" *ngIf="dishIsOpen">
            <div class="item" *ngFor="let dish of dishMenu">
              <a [href]="dish.route"><i [class]="dish.iconData + ' iconList'"></i>{{dish.title}}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="list">
        <div class="item">
          <a routerLink="/home">Статьи</a>
        </div>
      </div>

          <app-input
            placeholder="Найти рецепт"
            iconData="fa-solid fa-magnifying-glass"
            iconPosition="before"
          ></app-input>

      <div class="menu">
        <div title="Мои рецепты">
          <i class="fa-solid fa-book-bookmark"></i>
        </div>
        <div title="Добавить">
          <i class="fa-solid fa-square-plus"></i>
        </div>
        <div *ngIf="!user" title="Профиль" (click)="goToSignIn()">
          <i class="fa-solid fa-user"></i>
        </div>
        <div *ngIf="user" title="Профиль" (click)="goToCabinet()">
          <img [src]="user.avatar" alt="avatar">
        </div>
      </div>

    </div>
  </div>
</header>
