<header class="header">
  <div class="container">
    <div class="wrapper">
      <app-logo></app-logo>

      <ul class="list">
        <li>
          <a routerLink="/">Главная</a>
        </li>
        <li>
          <a routerLink="/recepts">Рецепты</a>
        </li>
        <li>
          <a routerLink="/home">Кухни ()</a>
        </li>
        <li>
          <a routerLink="/home">Блюда ()</a>
        </li>
      </ul>

      <ul class="list">
        <li>
          <a routerLink="/home">Статьи</a>
        </li>
      </ul>

          <app-input
            placeholder="Найти рецепт"
            iconData="fa-solid fa-magnifying-glass"
            iconPosition="before"
          ></app-input>

      <div class="menu">
        <div title="Мои рецепты">
          <i class="fa-solid fa-book-bookmark"></i>
        </div>
        <div title="Добавить">
          <i class="fa-solid fa-square-plus"></i>
        </div>
        <div title="Профиль">
          <i class="fa-solid fa-user"></i>
        </div>
      </div>

    </div>
  </div>
</header>




<!-- Главная -->
<!-- Рецепты -->
<!-- Кухни (список) -->
<!-- Блюда (список) -->

<!-- Статьи -->

<!-- Поиск -->

<!-- Избранное -->
<!-- Добавить рецепт -->
<!-- Кабинет -->
