<header class="header">
  <div class="container">
    <div class="wrapper">
      <app-logo></app-logo>

      <ul class="list">
        <li>
          <a routerLink="/">Главная</a>
        </li>
        <li>
          <a routerLink="/recepts">Рецепты</a>
        </li>
        <li>
          <a routerLink="/home">Кухни ()</a>
        </li>
        <li>
          <a routerLink="/home">Блюда ()</a>
        </li>
      </ul>

      <ul class="list">
        <li>
          <a routerLink="/home">Статьи</a>
        </li>
      </ul>

      <input type="text" placeholder="Поиск">

      <div class="menu">
        <button>=</button>
        <button>+</button>
        <button>!</button>
      </div>

    </div>
  </div>
</header>




<!-- Главная -->
<!-- Рецепты -->
<!-- Кухни (список) -->
<!-- Блюда (список) -->

<!-- Статьи -->

<!-- Поиск -->

<!-- Избранное -->
<!-- Добавить рецепт -->
<!-- Кабинет -->
