<div class="wrapper">
  <label>{{label}}</label>
  <div
    class="inner"
    [ngClass]="{
      before: iconPosition === 'before',
      after: iconPosition === 'after'
    }"
    [style.width]="width"
  >
    <label *ngIf="iconData" class="icon" (click)="clickIcon()">
      <i [class]="iconData"></i>
    </label>
    <input
      autocomplete="new-password"
      [type]="type"
      [placeholder]="placeholder"
      [value]="value"
      (input)="setValue($event)"
      [mask]="mask"
    >
  </div>
</div>
